body.case, body.about, body.home{
	margin: 0;
	padding: 0;
	background-image: url("../images/bkg.jpg");
	background-repeat:repeat;
	font-family: arial;
	color: #2F1010;
}

#banner{
	background: #020202;
	width: 100%;
	margin: 0 0 50px 0;
	padding: 0 0 0 10px;
}

h1 a{
	color: #D3D053;
	font-family: arial;
	font-size: 22px;
	font-weight: 100;
	padding: 15px 0 5px 10px;
	margin:0;
	text-transform: uppercase;
	text-decoration: none;
}

#header{
	height: 133px;
	width: 924px;
	background-image: url("../images/header3.png");
	background-repeat: no-repeat;
	margin: 0 0 0 -18px;

}


#header ul{
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 12px;
	text-transform: uppercase;
	float: right;
	margin: 5px 20px 0 0;
	padding: 37px 0 0 0;
}

#header ul li{
	display: inline;
	padding: 5px 10px;
}

#header ul li a{
	text-decoration: none;
	color: #2F1010;
	font-weight: bold;
}

#header ul li a.current{
	text-decoration: none;
	color: #3C4B27;
}

#foot-banner{
	clear: both;
	background: #020202;
	width: 100%;
	height: 300px;
	padding: 0;
	margin: 50px 0 0 0;
	
}

#foot-banner p{
	font-size: 10px;
	text-align: center;
	padding: 10px;
	margin: 0;
	color: #fff;
}


#content{
	width: 891px;
	background-image: url("../images/light-yellow.png");
	margin: 0;
	padding: 0;
	border-bottom: 10px solid #EA8C23;

}

a.exercise_link{
	font-size:20px;
	color:#4C3A28;
	padding:5px;
	border:1px solid #4C3A28;
	text-decoration:none;
}

a.exercise_link:hover{
	color:#F0C53D;
}

/*
Case
----------------------------------------------------------*/


 .video-space{
	width: 536px;
	float: right;
	background-image: url("../images/light-yellow.png");
	margin: -71px 0 0 0;
	border: 15px solid #F0CD73;

}

.video-space img{
	border-top: 50px solid black;
	border-bottom: 50px solid black;
}

.info-space{
	width: 325px;
	float: left;
	background-image: url("../images/light-yellow.png");
	padding: 0 0 10px 0;

}

.info-space p{
	margin: 0;
	padding:10px 10px 0 10px;
	font-size: 11px;
}


.info-space h2{
	font-size: 18px;
	font-family: arial;
	margin:0;
	padding:10px 0 0 10px;
}

.info-space h3{
	font-size: 12px;
	font-family: arial;
	font-weight: 100;
	color: #CE7824;
	margin:0;
	padding:0 0 0 10px;
}

.footer{
	clear: both;
	border-top: 5px solid #2F1010;
	width: 891px;
	margin: 0;
	padding: 0;
}

.footer ul{
	display: inline;
	margin: 0 0 20px 0;
	padding: 0;
	float: left;
	clear: both;
}

.footer ul li{
	display: inline;
	background: #2F1010;
	padding: 6px 6px 6px 6px;
	margin: 0 10px 0 0;
	

}

.footer ul li a{
	text-decoration: none;
	color: #FCF8CD;
	font-size: 16px;
	padding: 0 0 5px 0;
}

.footer ul li a.current{
	color: #C4BF02;
}


/*
About
----------------------------------------------------------*/

#content .about{
float: left;
width: 400px;
margin: 0 10px 80px 120px ;
padding: 0;
}

#content .about h2{
margin:0;
padding:0;
}

#content .about p{
margin:10px 0 0 0;
font-size: 12px;
padding:0;
}

.img-space img{
margin: -50px 0 0 0;

}

/*
Students & instructors
----------------------------------------------------------*/

.info{
margin: 0 0 80px 0;
}

.info p{
margin: 10px 120px 0 120px; 
padding: 0;
font-size: 12px;

}

.info h2{
margin: 0;
padding: 0 120px 0 120px; 
}

.info em{
font-weight: bold;
}

/*
About-vid
----------------------------------------------------------*/

#content .about-video img{
margin: -20px 0 50px 250px;
border: 15px solid #F0CD73;
}

#content .about-video{
	margin:0 0 20px;
	text-align:center;
}

/*
Home
----------------------------------------------------------*/
.welcome{
	margin: 0 0 0 10px;
	padding: 180px 0 0 20px;

}

.welcome h2{
	color: #D3D053;
	margin: 50px 0 0 10px;
	font-size: 28px;
}

.welcome p{
	color: #EA8C23;
	margin: 0 0 0 10px;
	font-size: 16px;
	font-weight: bold;
}

.border{
	border-top: 5px solid #2F1010;

}

.row-1{
	margin: 10px 0 0 25px;
}

.row-2{
	margin: 0 0 0 150px;
}

.short-info{
	background-image: url("../images/boxflat.png");
	background-repeat: no-repeat;
	width: 250px;
	float: left;
	padding: 12px;
	margin: 0 10px 10px 0;

}

.short-info img{
	float: left;
}

.short-info dl{
	float: right;
	width: 120px;
	font-size: 11px;
	margin: 0 0 0 10px;

}

.short-info dl dt{
	display: inline;
	font-weight: bold;
	margin: 0 4px 0 0;
}

.short-info dl dd{
	display: inline;

}

body.home #header{
	height: 379px;
	width: 924px;
	background-image: url("../images/header4.png");
	background-repeat: no-repeat;
	margin: 0 0 0 -18px;

}

body.home #content{
	border-top: 10px solid #EA8C23;


}

/*
credits
----------------------------------------------------------*/
.credits{
margin: 0 0 100px 0;
}

.credits h2{
	margin: 0;
	padding: 0 120px 0 120px; 
}

.credits h3{
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
	color: #CE7824;
	margin:0;
	padding:10px 120px 0 120px; 
}

.credits p{
margin: 0 120px 0 120px; 
padding: 0;
font-size: 12px;

}