@charset 'iso-8859-1';
/* CSS Document; by edinfo@gmail.com */

body { height:100%; text-align: center; font: 76%/1.3em Arial, Helvetica, sans-serif; min-width:980px; background:#333 url('images/bg.png') repeat-x top left;}
html,body,form,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
dt, dd { margin: 0; padding: 0; }
div { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,legend,pre,code { font-size: 1em; }
a:link, a:active, a:visited { color:#990000; font-weight:normal; text-decoration:underline; }
a:hover { color:#3366ff; font-weight:normal; text-decoration:underline; }
a img,:link img,:visited img { border: none; }
address { font-style: normal; }

#pageWrapper { width:860px; height:auto; margin-top:0; margin-left:auto; margin-right:auto; font-size:inherit; float:none; }
#topWrapper { width:100%; height:72px; text-align:left; float:left; }
#bodyWrapper { width:100%; height: 348px; margin-top:40px; float:left;}
#footWrapper { width:100%; height: 50px; margin-top: 75px; color:#dedede; float:left;}
